/*
 * General styles
 Arial, Helvetica, sans-serif
 */
 body, html {
    background-image: "#fff";
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $fontmain;
    font-size: $base-size - 2px;
    height: 100vh;
    overflow: hidden;
    text-decoration: none;
}
a{
  text-decoration: none;
  // color: inherit !important; /* Giữ lại màu chữ của phần tử cha */
  all: unset; /* Loại bỏ toàn bộ style mặc định */
  
}

.btn {
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    i {
      font-size: $base-size - 3px;
    }
}

.btn-edit, 
.btn-add,
.btn-delete,
.btn-assign {
  background-color: $colormain;
  color: $common-text-color;
  &:hover {
    color: $common-text-color;
    background-color: darken($colormain, 5);
  }
}

#password:invalid {
  font-family: $fontmain; // Fixed TH hien thi placeholder cho EDGE
}
#password:-webkit-input-placeholder {
  font-family: $fontmain; // CHROME 1
}
#password::-webkit-input-placeholder {
  font-family: $fontmain; //CHROME 2   EDGE 1
}
#password:-moz-placeholder {
  font-family: $fontmain; // Firefox 4-18
}
#password::-moz-placeholder {
  font-family: $fontmain; // Firefox 19+
}
#password:-ms-input-placeholder {
  font-family: $fontmain; // IE 10-11
}
#password::-ms-input-placeholder {
  font-family: $fontmain; // EDGE 2
}
#password::placeholder { 
  font-family: $fontmain;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh; /* Chiều cao toàn màn hình */
}

.content-container {
  overflow-y: auto; /* Thêm thanh cuộn dọc */
  scrollbar-width: thin; /* Kiểu thanh cuộn mỏng (cho Firefox) */
  scrollbar-color: #ccc transparent; /* Màu thanh cuộn (cho Firefox) */
  // .content-container-message{
  //   position: absolute;
  //   background-color: aqua;
  //   position: fixed;
  //   left: 0;

  // }
}

.content-container::-webkit-scrollbar {
  width: 10px; /* Độ rộng thanh cuộn */
}

.content-container::-webkit-scrollbar-track {
  background: transparent; /* Nền thanh cuộn */
}

.content-container::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Màu thanh cuộn */
  border-radius: 10px; /* Bo tròn thanh cuộn */
  border: 2px solid transparent; /* Viền trong suốt */
  background-clip: content-box; /* Giữ hình dạng */
}



.content-container {

  
  
  
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $base-size + 4px;
    margin-top: 15px;
    color: $colormain;
  }
  .content {
    margin: 15px 30px;
    box-shadow: 2px 2px 4px 0 $box-shadow-color;
    -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        padding: 0 10px;
        height: 35px;
        background-color: $colormain;
        color: $common-text-color;
        .modal-title {
          line-height: 35px;
          font-weight: 500;
          font-size: $base-size + 1px;
        }
        .btn-close {
          position: absolute;
          color: $common-text-color;
          i {
            line-height: 35px;
            font-size: $base-size + 2px;
          }
        }
      }
    }
  }
}