.indochinaqueen-main{
    width: 100vw;
    overflow-y: auto; /* Kích hoạt thanh cuộn nếu nội dung vượt quá chiều cao */

    .indochinaqueen-header{
        width: 100vw;
        height: 650px;
        background-color: aqua;
    }
    .indochinaqueen-body{}

    .indochinaqueen-footer{}


}